.navigation {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--header-bg-color);
}
.link {
  color: var(--text-color-white);
  margin-left: 20px;
  font-size: 22px;
  transition: color 0.3s;
  &:hover {
    color: var(--text-color-white-hover);
  }
}

